body{
    display: flex;
    flex-direction: column;
    /* body is nothing without content;-) */
    margin: 0;
    padding: 0;
}
.header,.footer{
    background-color: #1F2937;
    /* fallback color */
    color: aliceblue;
    padding: 24px 48px;
    font-family: "Helvetica",sans-serif;
}
.header-top{
    display: flex;
    justify-content: space-between;
}
.header a{
    color:#E5E7EB;
    font-size: 18px; 
    text-decoration: none;
    margin-left: 28px;
}
.header p{
    color:#E5E7EB;
    font-size: 18px; 
}
.logo{
    font-size:24px;
    color: #F9FAF8;
}
.header-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-title{
    max-width: 450px;
}
.header h1 {
    font-size:48px;
    font-weight:  extra-bold;
    color: #F9FAF8;

}
.header-img{
    width: 450px;
    height: 150px;
    flex-shrink: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(69, 69, 68);
}

.download2 {
    display: inline-block;
    margin-right: 10px;
    background: #3882F6;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    line-height: 32px;
    font-weight: bold;
    border-radius: 12px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    width: 170px;
    text-align: center;
    border: none;
  }
  
  .download2:hover {
    background: #fff;
    color: #339DFF;
    box-shadow: 0 4px 4px rgba(83, 100, 255, 0.32);
  }
  .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  .content ul{
    display: flex;
    justify-content: space-between;
    gap: 48px;
    flex-wrap: wrap;
  }
  .content .image-box{
    max-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 18px;
    color:#8a8b8d;
    font-weight: bold;
    list-style-type: none;
  }
  .image-box .image{
    width: 180px;
    height: 180px;
    background-color:#E5E7EB;
    border-color: #3882F6;
    border-radius: 12px;
    border-width: 4px;
    border-style: solid;
    margin-bottom: 16px;
  }
  .content h2{
    color:#1F2937;
    font-size: 36px;
    font-weight: extra-bold;
  }
  .quote-box{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 48px 96px;
    font-size: 36px;
    font-weight:100;
    font-style: italic;
    color: #1F2937;
  }
  .quote-box p{
    padding: 0 48px;
    margin: 0;
  }
  .quote-box .from{
    display: flex;
    justify-content: right;
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-style: normal;
  }
  .ca{
    display: flex;
    padding: 48px;
    justify-content: space-between;
  }
  .caBox{
    background-color: #3882F6;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-radius: 12px;
    padding: 48px;
    color: #E5E7EB;
    font-family: Arial, Helvetica, sans-serif;
    
  }
  .caHead{
    font-size: 24px;
    font-weight: bold;
  }
  .caMessage{
    font-size: 18px;
  }
  .caButton{
    display: flex;
    align-items: center;
    border-radius: 12px;
    border-color: #F9FAF8;
    border-width: 1px;
    border-style: solid;
    padding: 18px;
  }
  .caButton:hover {
    background: #fff;
    color: #339DFF;
    box-shadow: 0 4px 4px rgba(83, 100, 255, 0.32);
  }
  .footer{
    padding: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
  }